body {
    text-align:center;
    font: 15px 'trebuchet MS', 'lucida sans';
    background: #008080;
}

#formulario {
	border:solid 2px #708090;
    border-radius: 15px;
    box-shadow: 12px 12px 15px #ABCABC;
    background: #dcdcdc;
    margin:0 auto;
    width :400px;
    padding:16px;
}

 #formulario label {
 	margin-left: 40px;
 	text-align: right;
    float:left;
 }

#formulario button {
    clear:both;
    margin:0 auto;
    width:100px;
    height:31px;
    background:#696969;
    text-align:center;
    line-height:31px;
    color : 000000;
    font-size:11px;
    font-weight:bold;
}

#formulario button:hover {
	background-color: #FC0;
}

#formulario input {
	
}