body {
    font: 15px 'trebuchet MS', 'lucida sans';
    background: #008080;
    margin: 3em;
}

#cuerpo {
    list-style-position: inside;
    padding: 0;
    margin-bottom: 1em;
}

dl {
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
}

dt {
    background: #e1c33d ;
}

ul {
    padding: 20px;
}